# Dipendenze e build del frontend
/node_modules
/dist

# Build di Rust/Cargo
/target

# Workspace locale creato dal server web (cartella delle collection)
/workspace

# File di sistema
.DS_Store
*.log
